:root {
  font-size: 62.5%;

  --ff-primary: "Roboto", sans-serif;
  --hue: 194;
  --bg-primary: hsl(var(--hue), 9%, 89%);
  --bg-secondary: hsl(var(--hue), 97%, 31%);
  --fc-primary: hsl(var(--hue), 6%, 21%);
  --fc-secondary: hsl(var(--hue), 100%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: var(--ff-primary);
  color: var(--fc-primary);
  font-weight: 500;
  font-size: 12.6rem;
  line-height: 14.8rem;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19.2rem;
  /* width: fit-content; */
}

button {
  background: var(--bg-primary);
  border: 0;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease;
}

#timer {
  display: flex;
  flex-direction: column;
  animation: right-to-left;
  animation-duration: 700ms;
  animation-fill-mode: backwards;
}

#timer button {
  background: transparent;
}

#display {
  display: flex;
}

#controls {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 60%;
}

#sound-selector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3.2rem;
  column-gap: 3.2rem;
  animation: left-to-right;
  animation-delay: 700ms;
  animation-duration: 700ms;
  animation-fill-mode: backwards;
}

#sound-selector button {
  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2.4rem;
}

.active {
  /* background: var(--bg-secondary); */
  background: var(--bg-secondary);
}

.active svg path {
  fill: white;
}

@media (max-width: 850px) {
  body {
    font-size: 10.6rem;
    line-height: 12.8rem;
  }

  main {
    flex-direction: column;
    gap: 5.4rem;
  }

  #timer {
    animation: down-top;
    animation-duration: 700ms;
    animation-fill-mode: backwards;
  }

  #controls {
    gap: 3.6rem;
  }

  #controls button {
    width: 3.6rem;
    height: auto;
  }

  #sound-selector {
    animation: top-down;
    animation-delay: 700ms;
    animation-duration: 700ms;
    animation-fill-mode: backwards;
  }

  #sound-selector button {
    width: 10.8rem;
    height: 12.2rem;
  }
}

@media (min-width: 1440px) {
  body {
    font-size: 21.6rem;
    line-height: 23.8rem;
  }

  #controls {
    gap: 3.6rem;
  }

  #controls button svg {
    width: 10rem;
    height: auto;
  }

  #sound-selector button {
    width: 14.4rem;
    height: 15.8rem;
  }
  #sound-selector button svg {
    width: 6rem;
    height: auto;
  }
}

@keyframes right-to-left {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes left-to-right {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes top-down {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes down-top {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
